<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imagenes"></div>
<img src="/assets/icon/1.jpg"/>
<br> <br>
<label for="Name">Usuario</label><br>
<input type="text" id="Usuario" placeholder="Ingrese Su Usuario"  />
<br> <br>
<label for="Name">Contraseña</label> <br>
<input type="text" id="Usuario" placeholder="Ingrese Su Cotraseña" /> <br> <br>

<ion-button expand="full" href="app/app/tab1" >Ingresar</ion-button>

</ion-content>
